<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117449274889-5mlkpo4c38704ebifmiuf4lu4lqno84f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117449274889-5mlkpo4c38704ebifmiuf4lu4lqno84f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117449274889-njn2e91860ce2ve8f55rhm85pq0k816f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbDUl9BRGZImpmBTEOlSm3mVlf3_ltIgU</string>
	<key>GCM_SENDER_ID</key>
	<string>117449274889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurante</string>
	<key>PROJECT_ID</key>
	<string>pdahospitality-7dfa0</string>
	<key>STORAGE_BUCKET</key>
	<string>pdahospitality-7dfa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117449274889:ios:d475d74ae2e6d9a1396ad8</string>
</dict>
</plist>